*~
.DS_Store
.idea
__pycache__
*.pyc
pyserini/resources/jars/*.jar
collections/*
indexes/*
.vscode/
venv/
*.txt
*.duckdb

# build directories from `python3 setup.py sdist bdist_wheel`
build/
dist/
pyserini.egg-info/

# runs should be ignored
runs/

# logs should also be ignored
logs/

# binaries should also be ignored
bin/*
lib*
pyvenv*
share*
