*~
.DS_Store
.idea
__pycache__
*.pyc
pyserini/resources/jars/*.jar
collections/*
indexes/*
.vscode/
venv/
*.duckdb
*trec_dot_product*
*msmarco_benchmark_results*

# build directories from `python3 setup.py sdist bdist_wheel`
build/
dist/
pyserini.egg-info/

# runs should be ignored
runs/

# logs should also be ignored
logs/

# tools
tools/

# binaries should also be ignored
bin/*
lib*
pyvenv*
share*
