tqdm
pyyaml
requests
Cython>=0.29.21
numpy>=1.18.1
pandas>=1.4.0
pyjnius>=1.6.0
scikit-learn>=0.22.1
scipy>=1.4.1
transformers>=4.6.0
torch>=2.0.0
onnxruntime>=1.8.1
openai>=1.0.0
sentencepiece>=0.2
tiktoken>=0.4.0
flask>3.0
pillow>=10.2.0
# ones below are going to become optional dependencies eventually:
faiss>1.7.0
nmslib>=2.0.6
lightgbm>=3.3.2
spacy>=3.2.1
pyarrow>=15.0.0
pybind11>=2.11.0
