<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="AToMiC">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>

  <script>
    $SCRIPT_ROOT = {{ request.script_root | tojson }};

    $(function () {
      $("#retriever_name").val("{{retriever}}");
      $("#index_name").val("{{index_name}}");
      $("#loading").hide();
      $("#pre_encoded_query_table").hide();

      $("#search_button").on("click", function () {
        // for sparse search, we can submit the input directly as a query
        // for dense search, we only support searching from pre-encoded queries,
        // so the search button will retrieve valid pre-encoded queries
        if ($("#retriever_name").val() === "BM25") {
          $("#submit_query_form").submit();
        } else {
          const query = $("#query_input").val();
          $.getJSON(
            $SCRIPT_ROOT + "/search_options", {
            query: query
          }, function (data) {
            $("#loading").hide();
            $("#retriever_name").removeAttr('disabled');
            $("#index_name").removeAttr('disabled');
            $("#results_table").hide();
            $("#pre_encoded_query_table").show();

            const validQueries = $("#pre_encoded_queries");
            validQueries.empty();
            // construct row for each valid pre-encoded query
            var rowNum = 0;
            $.each(data, function (queryIndex, result) {
              const tr = $("<tr>")
                .attr({ "class": rowNum % 2 ? "table-secondary" : "table-light" });
              tr.append($("<td>").text(queryIndex));
              tr.append(
                $("<td>")
                  .attr({ "style": "word-wrap: break-word;min-width: 600px;max-width: 600px;", "class": "text-start" })
                  .append($("<small></small>").attr({ "data-query-idx": queryIndex }).text(result))
              );
              tr.append(
                $("<td>")
                  .append($("<button>")
                    .attr({ "type": "button" })
                    .click(function () {
                      const queryIndex = $(this).closest("tr").find("small").attr("data-query-idx");
                      $("#query_input").val(queryIndex);
                      $("#submit_query_form").submit();
                    })
                    .text("Use this query"))
              );
              validQueries.append(tr);
              rowIndex += 1;
            });
          });

          $("#retriever_name").attr('disabled', 'disabled');
          $("#index_name").attr('disabled', 'disabled');
          $("#loading").show();
          return false;
        }
      });

      $('#retriever_name').on('change', function () {
        $.getJSON($SCRIPT_ROOT + '/retriever', {
          new_retriever_name: this.value,
        }, function (data) {
          $("#retriever_name").removeAttr('disabled');
          $("#loading").hide();

          var dropdownElem = $('#index_name');
          dropdownElem.empty();
          $.each(data.index_list, function (index, val) {
            var option = $('<option></option>');
            option.text(val);
            option.val(val);
            if (index === 0) option.selected = true;
            dropdownElem.append(option);
          });
        });

        $(this).attr('disabled', 'disabled');
        $("#pre_encoded_query_table").hide();
        $("#loading").show();

        return false;
      });

      $('#index_name').on('change', function () {
        $.getJSON($SCRIPT_ROOT + '/index', {
          new_index_name: this.value,
        }, function (data) {
          $("#index_name").removeAttr('disabled');
          $("#loading").hide();
        });

        $(this).attr('disabled', 'disabled');
        $("#pre_encoded_query_table").hide();
        $("#loading").show();

        return false;
      });
    });
  </script>
  <title>AToMiC Demo</title>
</head>

<body>
  <h2>AToMiC Demo</h2>
  <h4>Large-scale image/text retrieval test collection</h4>

  <br />

  <p class="lead">
    <a href="https://github.com/TREC-AToMiC/AToMiC">The AToMiC dataset</a> is a large-scale image/text retrieval test
    collection designed to aid in multimedia content creation.
  </p>

  <p>
    For sparse search (BM25), simply type in your query and submit.<br>
    For dense search, we support searching from a set of pre-encoded queries. Submitting your query will
    retrieve the pre-encoded queries that begins with your query (case-insensitive).
  </p>

  <div class="row g-3 align-items-center">
    <label class="col-auto" for="retriever_name">You are using the following retriever</label>
    <div class="col-auto">
      <select class="form-select form-select-sm" aria-label=".form-select-sm" id="retriever_name">
        {% for retriever in retriever_to_indexes.keys() %}
        <option value="{{ retriever }}">{{ retriever }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <label class="col-auto" for="index_name">You are perfoming search on the following dataset</label>
    <div class="col-auto">
      <select class="form-select form-select-sm" aria-label=".form-select-sm" id="index_name">
        {% for index in retriever_to_indexes[retriever] %}
        <option value="{{ index }}">{{ index }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto">
      <div class="spinner-border text-secondary" role="status" id="loading">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <br />

  <div class="container text-center">
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}

    <form action="/search" method="post" id="submit_query_form">
      <div class="row-cols-3">
        <div class="input-group mb-3">
          <input type="text" id="query_input" class="form-control" placeholder="Enter a Question" aria-label="Question"
            name="q" aria-describedby="search_button" value="{{query if query else ''}}">
          <button class="btn btn-outline-secondary" id="search_button"><i class="bi bi-search"></i></button>
        </div>
        <table class="table" id="pre_encoded_query_table">
          <thead>
            <tr>
              <th scope="col">Query Number</th>
              <th scope="col">Pre-encoded Query</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-group-divider" id="pre_encoded_queries">
          </tbody>
        </table>
      </div>
    </form>

    {% if search_results %}
    <div class="row">
      <table class="table" id="results_table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Score</th>
            <th scope="col">Passage ID</th>
            <th scope="col">Content</th>
            {% if "image" in index_name %}
            <th scope="col">Image</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for res in search_results %}
          <tr class="{{'table-secondary' if res['rank'] % 2 else 'table-light'}}">
            <th scope="row">{{res["rank"]}}</th>
            <td>{{"%.2f"|format(res["score"])}}</td>
            <td>{{res["docid"]}}</td>
            <td style="word-wrap: break-word;min-width: 600px;max-width: 600px;" class="text-start">
              <small>{{res["content"]}}</small>
            </td>
            {% if "image" in index_name %}
            <td>
              <img src="{{ res['image_url'] }}" width="500" height="auto">
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</body>

</html>